[2015-01-21 09:59] JMPerez opened #11 "Expose a way to cancel a request"
In a scenario such as searching for tracks using an `input`, it should be possible to cancel previous requests with every new key stroke.

Even though the `Promise` object doesn't support cancelation, we could pass a parameter similar to the `timeout` param that Angular uses for their `$http` service (see http://odetocode.com/blogs/scott/archive/2014/04/24/canceling-http-requests-in-angularjs.aspx

[2015-02-18 15:17] JMPerez opened #14 "Expose missing methods for removing tracks from playlists"
There is one use of the "[Remove tracks from a playlist](https://developer.spotify.com/web-api/remove-tracks-playlist/)" endpoint that are not covered by the wrapper:

- Removing the track at a given position in a specific playlist snapshot

[2015-02-19 19:06] #14 closed

[2015-02-24 22:10] #11 closed

[2015-02-25 02:43] scotty914 opened #16 "iPhone 4 Error when calling getUserPlaylists"
Hi,

I'm using the Spotify Web API to do the following function call.

  spotifyApi.getUserPlaylists($scope.user.id)
  .then(function(data) {
(err) {
    console.error(err);
    ga('send','event','error','spotifyLoadFailed');
  });

And getting the following error.
Error: 'null' is not an object (evaluating 'spotifyApi.getUserPlaylists($scope.user.id)
  .then')

It works on iPhone 5, 6 and all And

[2015-02-25 04:35] scotty914 commented on #16
I was just told by a friend that iPhone 4 doesn't support promises and that's why the error is occurring.

[2015-02-25 04:35] #16 closed

[2015-02-25 07:33] JMPerez commented on #16
@scotty914 If you still want to use Promises, have a look at the [Usage section](https://github.com/JMPerez/spotify-web-api-js#usage) where there are links to some of these libraries. Otherwise you can always use callbacks. In your case, your code would become

[code]

[2015-02-26 14:49] JMPerez opened #17 "Add support for reordering tracks in a playlist"
See the recently released endpoint https://developer.spotify.com/web-api/reorder-playlists-tracks/

[2015-03-22 18:01] mchateloin opened #18 "Add support for auto pagination when fetching results."
Hi, I'm currently working on a project where this would be useful. For each method that fetches paginated results, it'd be nice if there existed a convenience method that fetched all the pages in parallel.

Take **getMySavedTracks** for example, which has a maxinum number of 50 results per page. We'd have a method called:

[code]

Which fetches the first page, checks the total items, and creates r

[2015-03-23 08:16] JMPerez commented on #18
Hi @mchateloin,

This sounds really interesting. I have thought of that in the past and it all depends on how smart you want the wrapper to be. At the moment it is just a mapping 1:1 with the Web API, which works well for most cases except for the ones you mentioned.

I already had a similar situation when coding the [Spotify Deduplicator](https://github.com/JMPerez/spotify-dedup). In the end I wo

[2015-03-23 15:11] mchateloin commented on #18
Good point. I haven't run into problems with the rate limits yet so I wasn't taking that into account. I  tried to find more information on those limits, but the Spotify Web API [docs](https://developer.spotify.com/web-api/user-guide/#rate-limiting) doesn't say much about numbers. Don't know if this is published elsewhere?

So I'm traversing playlists in my project too. And I'm looking for all the

[2015-03-23 15:40] JMPerez commented on #18
Yes, the documentation doesn't specify a certain number or requests. I thought that 10 req/sec was enough, taking into account that it might happen that other user used the site at the same time, contributing to the amount of requests for that same client_id.

The good thing is that I can always go back and decrease if users complain.

[2015-03-24 01:21] mchateloin commented on #18
Cool, thanks for the advice!

[2015-05-15 08:04] zzarcon commented on #17
@JMPerez the method it's already implement [here](https://github.com/JMPerez/spotify-web-api-js/blob/master/src/spotify-web-api.js#L641-L652), so maybe you can close the PR, right?

[2015-05-18 21:17] JMPerez commented on #17
True, it's already implemented :)

[2015-05-18 21:17] #17 closed

[2015-05-18 22:03] zzarcon commented on #17
Haha Sorry for the spam!, but I started implementing the method and just see that was already done :).

BTW do you have in mind some missing feature for the lib? I was thinking about provide some login mechanism instead of only setting the token directly. What do you think?

Mmm maybe this is not the right way for discuss that, but... :dancers:

[2015-07-21 17:40] joakimbugge opened #21 "Browserify cannot find module 'spotify-web-api-js'"
Is Browserify actually supported? I get the following error on bundle:

[code]

Seems like Browserify can't find the spotify-web-api-js module in `node_modules`. When I manually add the `main` attribute in `package.json` to tell it where the script resides, I get the this error:

`Uncaught TypeError: object is not a function`

when doing:

[code]

[2015-07-21 17:46] JMPerez commented on #21
Thanks for the report, @joakimbugge. I'm going to check what's going on.

[2015-07-21 17:50] joakimbugge commented on #21
That was fast! :) I just wanted to add that the error contains `/Users/Joakim/web/nattliv/resources/assets/js/app/music` because that's the `basedir` in my Browserify and it tries to find the module there when it can't find it in `node_modules`.

[2015-07-21 18:03] JMPerez commented on #21
It seems that the published version on npm is version 0.13.0, which is missing, amongst others, [this commit](https://github.com/JMPerez/spotify-web-api-js/commit/7ef3df2f2a5382712cf4ec9d6ff87200ab7e1289).

I have just published the current version (0.15.0) and it seems to work with browserify. Could you reinstall the dependency and try it out again?

[2015-07-21 18:11] joakimbugge commented on #21
Works like a dream now! :)

[2015-07-21 18:15] JMPerez commented on #21
Great! I will try not to forget to publish the version next time :) Thanks for spotting it!

[2015-07-21 18:15] #21 closed

[2015-10-07 05:25] scotty914 opened #22 "Get a user's songs from Your Music"
Is it possible to get a user's songs from Your Music? In the desktop app, that is normally on the left in the middle under Your Music.

[2015-10-07 05:31] JMPerez commented on #22
@scotty914 Yes! You can use [`getMySavedTracks()`](http://jmperezperez.com/spotify-web-api-js/#getMySavedTracks) for fetching the tracks that the user has saved in their "Your Music" section.

[2015-10-07 05:35] scotty914 commented on #22
Awesome. Thank you!

[2015-10-07 05:42] #22 closed

[2015-12-01 12:14] JMPerez opened #24 "Add support for getPlaylists() using current user from access token"
The function `getPlaylists()` should also work when no specific `user_id` is passed, making a request to `/me/playlists` instead.

[2015-12-02 08:08] #24 closed

[2016-01-24 17:58] scotty914 opened #29 "getUserPlaylists doesn't return the correct number of playlists every time"
The call getUserPlaylists, which I've modified a tiny bit, doesn't return the correct number of playlists everytime. I have 11 playlists and sometimes it returns all 11 and sometimes it returns just 6 of them.

Constr.prototype.getUserPlaylists = function(userId, options, callback) {
    var requestData = {
      url: _baseUri + '/users/' + userId + '/playlists' + '?offset=' + options.offset + '&l

[2016-01-24 20:08] JMPerez commented on #29
@scotty914 I see that you are using a different access token in each call. I don't know whether both access tokens have the same scopes granted.

If the request is always the same (same URL, headers and body), then there is not a problem in the wrapper, and we should file a ticket in the Spotify's Web API GitHub repo instead. But before doing that, make sure that the exactly the same request is ge

[2016-01-28 05:07] scotty914 commented on #29
Hi. Sorry for the late reply.

As far as I can tell, they are the same exact calls. Only difference I can see is the Etag (which I'd expect to change) and the Auth Bearer token change. The only scope I ever give users is ['user-read-private', 'playlist-read', 'playlist-read-private', 'playlist-read-collaborative'] so I can't see that being the issue. The url is always the same, the request body is

[2016-01-28 08:12] JMPerez commented on #29
Then this does look like an issue in the Web API. I would recommend you to file an issue in the [Web API repo](https://github.com/spotify/web-api/issues). I have gone through the open issues and can't see a similar one there. They might be able to help you.

Since the wrapper seems to be handling the request and response correctly, I'm going to close this ticket for now. Feel free to reopen it if

[2016-01-28 08:12] #29 closed

[2016-02-27 14:00] andialbrecht opened #30 "Release on npm not up to date"
Thanks for a great library. However, running "npm install" installs version 0.15.0, but not the most recent release. Are there any issues that prevent uploading newer releases to npmjs?

[2016-02-28 06:51] JMPerez commented on #30
@andialbrecht I have just published to npm the latest version. I forgot to run the command in the latest releases.

Thanks for noticing!

[2016-02-28 06:51] #30 closed

[2016-02-28 08:53] andialbrecht commented on #30
Great, thanks!

José Manuel Pérez <notifications@github.com> schrieb am So., 28. Feb. 2016
07:51:

[2016-03-27 08:55] ewal opened #31 "Search suggestion"
Hi, just a suggestion: wouldn't be enough to have a single search method and just pass the types in the options object? In my app I search for `tracks, albums` and `artists` and it just looks kinda strange in the code that I use `searchTracks` when the result back contains all three types.

regards, Emil

[2016-03-27 14:23] JMPerez commented on #31
@ewal That's a great suggestion. I will add a generic search function that can receive a list of types.

[2016-04-01 07:15] #31 closed

[2016-04-13 15:31] kirbysayshi opened #36 "Promise.defer is not part of the Promises/A+ spec"
`.defer` is tested to determine if the promise implementation is valid within this utility, but `.defer` is an extension provided by some libraries, like Q. Therefore the error message is extremely misleading.

for example, using the native Promise provided by ES2015 would fail in Firefox and Safari:

[code]

`.defer` appears to be still in chrome, but is not defined in Safari or Firefox. It is de

[2016-04-14 21:57] JMPerez commented on #36
@kirbysayshi You are right. I think I was trying to find something in common amongst several Promise polyfills when I started the project. I will fix this to either remove or fix the check.

[2016-04-16 13:58] #36 closed

[2016-04-17 20:35] kirbysayshi commented on #36
Cool! Looks good.

[2016-05-04 14:46] amicoleo opened #39 "spotifyApi.getUserPlaylist - error in documentation"
There is a mistake in the README file. The function spotifyApi.getUserPlaylist needs to be replaced with spotifyApi.getPlaylist

[2016-05-09 14:58] #39 closed

[2016-05-18 21:57] JMPerez opened #40 "URI-encode path components like userid"
This is a task to check (and fix if broken) whether the wrapper handles properly usernames like `#mimble!`, that start with a hashtag and can affect the rest of the URL making it return an error.

Related: https://github.com/thelinmichael/spotify-web-api-java/issues/53

[2016-11-25 19:40] EyesBear opened #49 "ReferenceError: XMLHttpRequest is not defined"
I ran into this error when trying to use the api, and I had to insert "var XMLHttpRequest = require("xmlhttprequest").XMLHttpRequest;" inside spotify-web-api.js for it to work.

[2016-11-26 09:52] JMPerez commented on #49
@EyesBear This library is intended to be used in the browser, where `XMLHttpRequest` should be defined. If you want to use the library on Node.JS I would recommend you to have a look at https://github.com/thelinmichael/spotify-web-api-node, which has a similar API.

[2016-11-26 22:08] smooJitter commented on #49
So this wouldn't work with react-native

[2016-11-27 13:37] JMPerez commented on #49
To be honest, I'm not sure about it sincr so haven't tried it yet. According to https://facebook.github.io/react-native/docs/network.html react-native does implement `XMLHttpRequest` so it should work out of the box.

[2016-11-27 13:37] #49 closed

[2016-12-12 01:30] nwsm opened #50 "Can't add track to playlist, "This request requires user authentication.", but access token is set."
UPDATE: I realize now that I need to set the scope to 'playlist-modify-public'. I am temporarily using DHC to generate my Access Tokens based on my own Client id and secret. Is this the correct way to add in the scopes:
https://i.gyazo.com/0cef9796623315f670eb2f2ba63d557c.png
?

Sending this POST request successfully generates an Access Token but I still cannot add tracks to the playlist.

/UPDATE

[2016-12-12 03:02] nwsm commented on #50
I didn't realize you couldn't use the Client Credentials flow to modify playlists. I'm using Implicit now and it works.

[2016-12-12 03:02] #50 closed

[2017-01-05 02:09] calixto111 opened #52 "Hi, how can I get album instead of tracks?"
Hi Jose Manuel ,
this website is using Spotify-web-api-js , how can I make it do albums instead of tracks?
for example ,
Michael Jackson - Off the Wall
Off the Wall is an album and a track of the same album
this website is giving me the track uri
spotify:track:3zYpRGnnoegSpt3SguSo3W
but I would like to get the album uri instead
spotify:album:2ZytN2cY4Zjrr9ukb2rqTP
How can I achieve this task?

tha

[2017-01-05 07:52] JMPerez commented on #52
Hi @calixto111. Not sure what website you are referring to, but it seems to be using [the search endpoint](https://developer.spotify.com/web-api/search-item/). You can pass "album" as the type of search results you want to get back, instead of "track".

Eg https://api.spotify.com/v1/search?q=Michael+Jackson+Off+the+Wall&type=album

You can also use the Web API console as a playground: https://deve

[2017-01-05 07:52] #52 closed

[2017-01-05 11:48] calixto111 commented on #52
hi , JMPerez,
this is the website I refered to
http://michaeldick.me/YetAnotherSpotifyPlaylistConverter/
how can I edit this to get a different result , I mean album uri , instead of track?
thanks

[2017-01-05 11:49] calixto111 opened #53 "Album instead of track"
hi , JMPerez,
this is the website I refered to
http://michaeldick.me/YetAnotherSpotifyPlaylistConverter/
how can I edit this to get a different result , I mean album uri , instead of track?
thanks

[2017-01-05 16:40] JMPerez commented on #53
Please, ask the author of the site for this. You can use its GitHub repo for that https://github.com/bertique/YetAnotherSpotifyPlaylistConverter .

[2017-01-05 16:40] #53 closed

[2017-01-18 18:17] cassioscabral opened #54 "Is there a way to send URI through the body instead of URI ?"
Hi there, I'm using this wrapper and it's being great. I'm having a problem when trying to use the `addTracksToPlaylist` with 100 URI, the limit set by Spotify. I got a 414 error, request URI too long. I can see that `replaceTracksInPlaylist` uses `postData: {uris: uris}` instead of `params: {uris: uris }` like `addTracksToPlaylist`. So I was wondering if `addTracksToPlaylist` couldn't use the bod

[2017-01-20 02:13] simonghales opened #55 "Is there any support for OAuth?"
Hey there, thanks for putting this together. I was wondering if there was any support provided for OAuth? I had a look through the source code and documentation, and it appears there isn't. Maybe I'm missing something?

Cheers,

Simon

[2017-01-20 09:37] JMPerez commented on #55
The library only wraps the calls to api.spotify.com. Depending on what authorization flow you want to use you might find [this node.js wrapper](https://github.com/thelinmichael/spotify-web-api-node/) useful (especially if implementing the authorization code flow), or if you plan to use client credentials you can check how https://github.com/JMPerez/spotify-iquiz or https://github.com/JMPerez/spoti

[2017-01-20 13:08] simonghales commented on #55
Thanks for the quick response, I'll have a look at those links.

[2017-01-20 13:08] #55 closed

[2017-01-20 13:48] JMPerez commented on #54
@cassioscabral Have you tried with the latest version of the library ([0.21.2](https://github.com/JMPerez/spotify-web-api-js/releases/tag/v0.21.2)). It includes a fix for this issue.

[2017-01-20 14:18] cassioscabral commented on #54
@JMPerez no, I didn't, my bad. Thanks for replying

[2017-01-20 14:18] #54 closed

[2017-03-27 05:49] JMPerez opened #57 "Missing "Get Current User’s Recently Played Tracks" endpoint"
The wrapper is missing the [Get Current User’s Recently Played Tracks](https://developer.spotify.com/web-api/web-api-personalization-endpoints/get-recently-played/) See [the blog post announcing it](https://developer.spotify.com/news-stories/2017/03/01/new-endpoint-recently-played-tracks/).

[2017-03-28 17:01] skovmand commented on #57
And the Typescript typings for it.

[2017-04-01 15:05] JMPerez opened #58 "Missing "Web API Connect Endpoints" support"
We should add support for these endpoints -> https://developer.spotify.com/web-api/web-api-connect-endpoint-reference/

[2017-04-02 14:11] JMPerez commented on #57
@skovmand is there any way to import the fixtures in the `spotify-api-tests.ts` file? It would reduce duplication and make the file more maintainable.

[2017-04-02 17:19] #57 closed

[2017-04-03 11:28] skovmand commented on #57
Hi José

Thanks for your work!

Unfortunately I'm very busy right now and don't have the resources to look
on it. So it will have to wait for a while. Sorry!

On Sun, Apr 2, 2017 at 7:19 PM, José Manuel Pérez <notifications@github.com>
wrote:

[2017-04-04 19:39] ukasiu commented on #58
+1

[2017-04-17 14:18] dreszczyk commented on #58
**+1**

[2017-05-02 09:20] greenkeeper[bot] opened #61 "An in-range update of sinon is breaking the build 🚨"
## Version **2.2.0** of [sinon](https://github.com/sinonjs/sinon) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/JMPerez/spotify-web-api-js/compare/greenkeeper%2Fsinon-2.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2017-05-07 11:47] #58 closed

[2017-06-05 01:10] orangemooncreative opened #63 "Add the ability to set a refresh token"
I am not sure if I am missing something...but I don't see an option to set a refresh token. I noticed that the node version offers that option. Considering that the spotify api requires authentication for all api access this would be great to have since the keys expire after an hour.

reference: https://github.com/thelinmichael/spotify-web-api-node

[2017-06-05 18:25] igorPhelype commented on #63
I also notice that.
I think that the web-api-js cannot have it because it is impossible to set a refresh token in the client side.

[2017-06-21 00:31] shawns582 opened #64 "Instructions for Ionic 2/3 typescript app"
Im a newbie to typescript and am trying to add this to my Ionic 2 app. Can someone give me step by step instructions on how to add this? I tried:

npm install -S spotify-web-api-js
then browserify spotify-web-api.js -o spotifybundle.js  (on the file in the node_modules folder)
then add spotifybundle.js to my index.html
I also tried doing a typings install with all the *.d.ts files provided and sti

[2017-06-21 20:56] ntaylor89 commented on #63
I'm fairly certain @igorPhelype is correct.

To make that request, you need send your `client_id` and `client_secret`. We don't want to expose those values in the front end because of security concerns. You can't retrieve a token from the front-end for the exact same reason.

[2017-06-21 20:57] ntaylor89 commented on #63
If you're building a front-end heavy/ single page app, one possible solution would be to have a back end microservice handle this auth stuff for you, and then pass your front end the access token.

[2017-06-22 02:05] igorPhelype commented on #63
@orangemooncreative,
Take a look at this gist:
https://gist.github.com/igorPhelype/68239ecab9afcc50230ce0c61c3bac2f

And I did this simple webapp just for learning react, you can see the implementation:
https://github.com/igorPhelype/Spotigorfy

You can use my method, or follow @ntaylor89's recomendation, because I honestly think that my aproach is not that perfect.

[2017-06-22 03:08] ntaylor89 commented on #63
Nice. I also have been building a webapp that uses spotify to learn React.

Note that Spotify's API allows 3 authentication types (all from the OAuth2 standard)
1. Authorization Code flow
2. Client Credentials flow
3. Implicit Grant

The Authorization code flow has to happen in the backend. It will allow you to access a users data, and gives you a way of extending the token use after it expires.

[2017-06-22 03:14] ntaylor89 commented on #63
If you need longer access to the api without re-authentication, then you'll need to either use the Authorization Code Flow or the Client Credentials Flow in the backend.

For my side-project, I need users to login, so I went the the Authorization Code flow. I've been working on a microservice to make this a bit easier: https://github.com/ntaylor89/micro-spotify

The idea is that you spin up that m

[2017-07-22 07:02] JMPerez commented on #64
@shawns582 Have you checked that you are making the request to the bundle file from the browser correctly and that you are importing the `SpotifyWebApi` variable? The library exports it but you need to import it from your code, or make it available in the global scope for you to access it.

[2017-07-22 07:05] JMPerez commented on #63
Thank you very much everyone who helped supporting @orangemooncreative! As mentioned, this library is intended to be used client-side and it doesn't support refreshing the token. https://github.com/thelinmichael/spotify-web-api-node is the option for server-side token exchange if you are using node.

I'll close this ticket. Feel free to reopen it if there was something missing.

[2017-07-22 07:05] #63 closed

[2017-07-23 15:07] JMPerez commented on #61
This has been solved.

[2017-07-23 15:07] #61 closed

[2017-08-31 20:50] jpmsegurado opened #69 "Change /next from PUT to POST"
Whenever I try to change execute the `/next` method, it gives me the 405 not allowed method. I found out it was because the method of the request was `PUT` and not `POST`. This little change was the solution locally for me :)

[2017-08-31 21:07] JMPerez commented on #69
That's weird, according to [the docs](https://developer.spotify.com/web-api/skip-users-playback-to-next-track) and [the console](https://developer.spotify.com/web-api/console/post-next/) it should be `POST`.

I have just tried it and it seems to work with `POST`. Could you double check?

[2017-08-31 21:27] jpmsegurado commented on #69
In your code it is post, I don't know why in my node_modules it was put...

[2017-08-31 21:27] #69 closed

[2017-08-31 21:47] JMPerez commented on #69
You are right, the published package still uses PUT since it doesn't contain this fix https://github.com/JMPerez/spotify-web-api-js/commit/4f3c2967ba6ffe90aded9149a24f719c8b12f200. I'm going to publish the new version.

[2017-08-31 21:53] JMPerez commented on #69
Published with version 0.22.1!

[2017-09-15 04:59] piloulac opened #73 "Missing required parameter: client_id"
Hi!

I'm facing an issue that I don't understand!
I am developing a react-native (js) app which try to access Spotify api using the Implicit Grant Flow.

Here is my method to get the access token:

[code]

but It answers that:
`Missing required parameter: client_id`

I also used Postman to check if my request is good and I get the same response...

Is there something wrong? On there doc they tell

[2017-09-26 09:44] nicholasnbg opened #75 "Link to documentation broken"
The link in the usage section of the readme in the sentance:
"We recommend you have a look at the documentation to get an overview of the supported ."

Is broken.

[2017-09-28 14:31] stukalin commented on #73
I think the problem is with the fetch call. You most likely want to write
`fetch('https://accounts.spotify.com/authorize?' + query)`

[2017-11-16 18:51] Miheegz commented on #75
has this been fixed?

[2017-12-09 17:14] #75 closed

[2018-01-10 11:39] tmm42 opened #80 "Promise abort not working"
Trying to implement the search functionalities with the promise implementation i run into some trouble.

My implementation is as written in the documentation. I've initialized the promises with the Q library `spotifyApi.setPromiseImplementation(Q);` . Following the example from the documentation:

[code]

Running this, i receive the error that the abort function doesn't exist. `prev.abort is not a

[2018-01-10 21:14] JMPerez commented on #80
@tmm42 you are right, the `abort` function doesn't work properly. It turns out that the function is added to the promise returned by `search()`, but not to the one returned when chaining `then()`.

A workaround would be to do like this:

[code]

[2018-01-12 14:38] tmm42 commented on #80
This workaround is fixing the problem. Thank you very much @JMPerez !

[2018-01-12 14:38] #80 closed

[2018-01-12 16:09] JMPerez commented on #80
Great! I have updated the README fixing the example.

[2018-02-02 20:43] adizam commented on #64
Yo @shawns582... I know its been like, 8 months.. but did you ever resolve your issue?

[2018-02-05 10:35] happy-machine opened #81 "Promises"
Hey : )

are these compatible with promises?

[2018-02-05 11:39] JMPerez commented on #81
Yes, they are!

[2018-02-05 12:51] happy-machine commented on #81
So you just chain onto them? everything is already set up in the constructor in the wrapper?

[2018-02-05 13:05] happy-machine commented on #81
This is getting me some really wierd results. i tried doing it all in one chain aswell.
This is taking an array of refresh tokens and getting subscription details from it.

I had other similar issues when trying to run lots of requests, but the same implementation in request worked fine. (I'm sure its my fault but would appreciate help!)

[2018-02-05 13:18] #81 closed

[2018-02-13 20:31] JMPerez commented on #73
I'm closing this issue as it's not related with the library.

[2018-02-13 20:31] #73 closed

[2018-02-13 20:31] JMPerez commented on #64
Closing the issue for now. Feel free to reopen it if needed.

[2018-02-13 20:31] #64 closed

[2018-02-13 20:43] JMPerez commented on #40
Closing issue since this works perfectly without needing any changes.

[2018-02-13 20:43] #40 closed

[2018-03-03 00:23] happy-machine opened #85 "Post 10000 result 502 - Bad Gateway"
Hey

Thanks for your promise-throttle btw its awesome : )

Im just using request-promise with promise throttle, so this isnt an issue with your library per se, but ive searched around and found a few unanswered queries on stack overflow about this issue, with people using spotify-web-api-js. Im hoping you can help?

Getting a 502-Bad Gatway with an offset larger than 10000,  the API doc sais the l

[2018-03-05 06:06] JMPerez commented on #85
Hi @happy-machine! This library is just proxying the parameters to Spotify's Web API and the issue you report seems to come from their side. Please file an issue on https://github.com/spotify/web-api/issues describing what endpoint you are hitting, and linking to the API docs to make it easier for the team to spot the problem.

I'm closing this ticket for now.

[2018-03-05 06:06] #85 closed

[2018-03-05 10:18] happy-machine commented on #85
ah .. apologies, will post there!

[2018-03-20 22:29] happy-machine opened #86 "Help!"
Hey

Sorry to bother you here, but i cant get an answer from the web-api at Spotify and ive got lots of labels getting aggravated with me!

Im getting 502 errors making this request
[code]

[2018-03-20 22:30] happy-machine commented on #86
by the way this is using the request-promise library for node

[2018-03-21 23:47] #86 closed

[2018-03-29 10:13] sandervspl opened #88 "[Typescript] Types for the Player endpoint are not defined"
functions like `Constr.getMyCurrentPlayingTrack` do not have their types defined. Will these be added some time soon?

[2018-03-29 10:39] JMPerez commented on #88
@sandervspl I don't have much experience with Typescript typings. @skovmand has made a great job adding typings to the library, but there might be some recent methods that were added without updating the typings.

Any help is appreciated so if you know how to add them you are more than welcome to do so.

[2018-04-11 03:39] rivertam opened #89 "[Question] Getting full playlist object"
Hi! Sorry if this is covered in the README, but I can't find it. I'm getting a playlist like so:

[code]

But `tracks` only has an `href` and a `length`. How can I get the track ids?

[2018-05-11 12:16] chasejh commented on #89
I was also having this issue -- I saw the track objects but I was not sure how to access them.
I only accessibly get some info about the playlist that I didn't actually need.

example output:

[code]

My code:
[code]

Hope that helps!

[2018-06-07 15:13] kasperkamperman commented on #63
I came across this closed subject, because I had the same question. Still I need to get something clear.

My current idea so to do the authorization flow (will use PHP for this) and in that way obtain an accessToken and refreshToken.

Well that accessToken I can use of course within this wrapper, I was thinking to store it in sessionStorage.

However why can't I store the refreshToken also in sess

[2018-07-08 20:22] Yarael-Poof opened #97 "[Question] Struggling getting play and pausing working"
Hi
I'm having trouble getting .play() and .pause() working. I'm using an icon as a button to playwhatever track is current paused on the users current device. I am doing this using React. I have managed to get this api working fine so far until this. Here is the code for my button (it works fine for calling other functions)
`<span onClick={() => spotifyApi.play()}> <i class="material-icons" style=

[2018-07-09 06:57] JMPerez commented on #97
@Yarael-Poof This is a bug in the library, that shouldn't require `options` to be defined.
A work-around for now is to pass `{}` as the first parameter:

[code]

[2018-07-25 21:24] wdehoog opened #98 "removeFromMySavedAlbums returns 400 missing payload"
Calling removeFromMySavedAlbums returned '400 missing payload'.

Changing
[code]
into
[code]
made it work

[2018-07-26 19:54] wdehoog commented on #98
removeFromMySavedTracks() suffers from the same problem

[2018-07-28 08:34] wdehoog opened #99 "changePlaylistDetails does not save description field"
Eventhough the server responds OK, calling changePlaylistDetails does not save the description field.

[2018-07-28 10:13] JMPerez commented on #99
@wdehoog Could you provide a test case that helps debugging this issue?

I have just tried it myself and it does change the description as expected:

[code]

Alternatively, try your access token, playlist id and user id on https://developer.spotify.com/console/put-playlist/ to confirm it works there.

[2018-07-28 10:20] JMPerez commented on #98
Hi @wdehoog! Could you provide a code snippet with the code you are trying to run? It does work on my end here.

[code]

[2018-07-28 10:30] wdehoog commented on #98
Really? Then I'll close the issue. I use your lib on my sailfish phone. It's javascript engine might be the cause. It is rather old.
Sorry for this and many thanks for the library.

[2018-07-28 10:30] #98 closed

[2018-07-28 10:45] JMPerez commented on #98
@wdehoog It should work just fine there. The library uses very basic Javacript to increase compatibility (so no fancy async/await, fetch, etc). If you find out any additional details, please reopen the issue.

[2018-07-28 10:55] wdehoog commented on #99
I just tried it on the console with
[code]
 Same behaviour. But when I started Spotify desktop (windows) there the description is indeed changed/added. I was only looking in my app at the returned data from getUserPlaylists. Should it not be in there as well?

[2018-07-28 11:02] JMPerez commented on #99
You mean that you make a second request to `getUserPlaylists()` and wasn't updated? What you could do instead is assume that if the request to change the data was successful you update your local data without making that additional request to Spotify.

In any case, this is not a problem in the library since it is passing the information correctly to Spotify, so I'm closing this issue. If you are g

[2018-07-28 11:02] #99 closed

[2018-07-30 17:09] #97 closed

[2018-08-08 10:59] adamgiesinger opened #102 "Refresh token"
Hey,
I've been working with this API a bit and I really like it. I have one question. As far as I know, normally you get an authorization code and a refresh code (at least it is like that in my Java application, where it generates the new codes automatically). Here I have to generate a new access code often by myself because else the "access token is invalid" (401).
Am I doing something wrong or i

[2018-08-08 12:52] JMPerez commented on #102
This wrapper is intended to be used client-side. You set the access token obtained through the implicit grant flow or the authorization code one. The latter needs to happen server-side, so you can provide your client secret in a secure way.

If you need to refresh your token you need to make a request server-side, then pass the access token to the browser. A way you can implement this is that the

[2018-08-09 04:49] adamgiesinger commented on #102
Thank you! Resolved my issue. :)

[2018-08-09 04:49] #102 closed

[2018-08-20 14:03] jmfortunatojr opened #103 "September Playlist API Updates"
Reference: https://developer.spotify.com/community/news/2018/06/12/changes-to-playlist-uris/

Will this library be updated to be in compliance to with the new endpoints?

[2018-08-20 18:29] UlysseM opened #104 "Adding support for position_ms"
https://github.com/JMPerez/spotify-web-api-js/blob/9a36af0291c2c64e783fc55e0c52973891e34cdd/src/spotify-web-api.js#L1529

Spotify recently added a new feature that allows to play at specific position in a track, can you add 'position_ms' in this array?

Cheers

https://developer.spotify.com/documentation/web-api/reference/player/start-a-users-playback/
https://github.com/spotify/web-api/issues/596

[2018-08-21 14:28] JMPerez commented on #103
@jmfortunatojr The intention is to keep the library up to date with changes in the Web API. Unfortunately I don't have much time these days to contribute and it might take longer than expected. The project is open sourced and PRs are more than welcome in case anyone wants to give a helping hand.

[2018-08-21 17:38] jmfortunatojr commented on #103
Thanks. I just fixed the node version, and will put in a pull request for this version as well.

[2018-08-22 14:02] #103 closed

[2018-08-23 18:49] JMPerez opened #108 "Remove support for bower"
It seems that bower is not used so much as when this library started. Although it doesn't introduce much complexity, it's another bit of code that needs to be maintained.

I suspect most people install the package through npm, but just in case I want to create the issue to get 👍 and 👎that can help me make an informed decision.

[2018-08-23 18:53] JMPerez opened #109 "Remove callback parameter"
The functions in the library support two ways of getting the result of the request back. One of them is through a promise that is returned in the call, and the other one is a `callback` parameter that gets called with the data and eventual error.

The support for Promise is quite widespread at the moment and additions to the language like async/await, which allows a concise syntax around Promises,

[2018-08-23 20:07] amelialaundy opened #110 "remove userId from Create playlist method"
Me again, the changes just released to update the playlist endpoints as per the new Spotify URIs (https://developer.spotify.com/community/news/2018/06/12/changes-to-playlist-uris/)
https://github.com/JMPerez/spotify-web-api-js/pull/105https://github.com/JMPerez/spotify-web-api-js/releases/tag/v1.1.0  don't include an update for Creating a playlist without the userId:

`POST /v1/me/playlists`

I'll

[2018-08-23 20:39] amelialaundy opened #111 "latest release will have broken typescript integrations"
Release 1.1.0 didnt update the typescript bindings so the code doesn't require userId anymore but the bindings don't reflect that meaning that anyone writing typescript will still be calling the functions with the userId and it won't create the URI correctly
![screen shot 2018-08-24 at 8 30 55 am](https://user-images.githubusercontent.com/7699279/44550704-1fba8900-a779-11e8-992a-f49bf034fc45.png)

[2018-09-10 19:34] JMPerez commented on #110
Fixed

[2018-09-10 19:34] #110 closed

[2018-09-10 19:35] JMPerez commented on #88
Fixed

[2018-09-10 19:35] #88 closed

[2018-09-10 19:42] JMPerez commented on #111
Fixed and published!

[2018-09-10 19:42] #111 closed

[2018-09-11 20:00] wdehoog commented on #98
@JMPerez it seems the Qt version on SailfishOS does not support a http DELETE request with a body. The body (the payload) is not sent.

[2018-09-11 20:04] JMPerez commented on #98
Interesting... I know that some APIs support a `method` parameter so you can send a POST command that actually deletes (eg `method=DELETE`), but Spotify's web api doesn't support it afaik.

[2018-09-11 20:05] JMPerez commented on #98
I prefer using the method to send data in the body since it doesn't have the stricter length limit that the query parameter version has. It's also better in general so the information from the URL doesn't end up in server logs.

[2018-09-15 14:36] gate5th commented on #103
Hey guys - it looks like Spotify delayed implementation of the changes to the Playlist API indefinitely (https://developer.spotify.com/community/news/2018/06/12/changes-to-playlist-uris/). I am getting 400 errors for creating playlists now. I can do a workaround in my app, but wanted to let you know.

[2018-09-22 11:44] JMPerez opened #114 "Maintainers wanted"
## We would like to get contributors who would like to maintain and evolve this library

As the main maintainer of this library, I have been busy lately with other projects and I will not able to keep this library up to date for the foreseeable future. I would love to get support from other contributors that have ideas on how to move forward the library so it's still relevant and useful for develo

[2018-10-16 07:04] adamgrieger commented on #114
I would love to contribute; I'm mainly a TypeScript user and I've used this library quite a bit this past year. I haven't really had experience in creating an API wrapper library, but it's definitely something I'd be interested in (especially since it's Spotify's API)!

[2018-10-21 15:15] MickyDNet opened #115 "spotifyApi.setVolume TypeError"
Getting this error trying to use the setVolume command.

I've tried running it with:
[code]
and
`spotifyApi.setVolume(1);`

but i get this error:
[code]

[2018-10-21 21:19] adamgrieger commented on #109
I'm currently working on a TypeScript rewrite with backwards compatibility in mind (I'll see how far I get). Would it be a good compromise to keep callbacks but implement Promise support using the standard API available in ES6 and TypeScript? I feel like quite a few people still use this library in an ES5 library, so requiring them to use a Promise polyfill and convert code might be a little overw

[2018-10-22 09:19] JMPerez commented on #109
Thanks for your input @adamgrieger! Promises [are widely supported these days](https://caniuse.com/#search=promise) and they are easy to polyfill for those projects targeting browsers like IE 11 and older. I tend to prefer having one way of doing something in the library instead of having 2 and then keep supporting the magic that assumes callback or options depending on the type of the parameter p

[2018-11-26 09:46] csantiago132 commented on #114
@adamgrieger yes! Sure I’ll help out in whatever way I can. I’m wrapping up my bootcamp now so I’ll be ready to jump in in a  week

[2018-11-29 00:45] adamgrieger commented on #114
I added a Discord server link to my fork's README.md where we (and potentially others) can talk about the rewrite.

[2018-11-29 02:37] csantiago132 commented on #114
@adamgrieger ok, ill update the branch, I went across the code and wow, great job! ill keep digging around and learn the code-base, ill start with seeing the test, i believe thats the easiest way to get to know the codebase

[2018-12-02 21:13] dennisfrijlink opened #117 "An example"
At the moment I'm building a Sonos web-controller and I'm looking for a method to use the Spotify API via HTML/JS. After hours of searching I found your web-api, but I can't figure out how to use it via javascript. Is it possible you give me an example of an web-app running with this api (including the HTML, JS files)?

[2018-12-03 10:56] JMPerez commented on #117
You can have a look [at this project](https://github.com/RohaanAdvani68/spotifyPlayer). Also, all the projects listed on https://github.com/JMPerez/spotify-web-api-js/network/dependents have this library as a dependency.

It should be a good start.

If you feel like you need something easier, you can find [a tutorial on Spotify's developer site that explains how to set up an application step by st

[2018-12-03 10:56] #117 closed

[2018-12-19 22:30] pduchesne opened #119 "[Typescript] type definition for 'play' parameters is incomplete"
The 'play' operation in the type definition only takes the device id as parameter.
Other parameters (context, uris, ...) are missing.
But the implementation supports all parameters.

[2018-12-19 22:41] #119 closed

[2018-12-19 22:50] pduchesne opened #121 "Latest type definition breaks typescript compilation"
My typescript code uses the api as follows :
[code]

This works fine with 1.1.0 .
Since 1.1.1 , this fails with `Namespace '".../spotify-web-api"' has no exported member 'SpotifyWebApiJs'` .

I could not find a way to work with the new type file.

[2018-12-21 10:21] JMPerez commented on #121
That's interesting. The latest change related to that was https://github.com/JMPerez/spotify-web-api-js/pull/44, which shipped in 1.1.0.

I'm myself not that familiar with Typescript so I would appreciate if someone can jump in and help debugging this issue. Maybe @amelialaundy can help out?

[2018-12-21 10:34] amelialaundy commented on #121
Hey @pduchesne I have the following:
[code]

That should work for you.

I think I made those type changes in 1.1.0, and sounds like what you are saying is they are breaking changes so I'll take a look.

[2019-01-19 18:08] csantiago132 commented on #121
@JMPerez @amelialaundy  @pduchesne in my app, im using it like this (this is in a saga btw but should not matter)
[code]

whole file looks like this:
[code]

[2019-01-20 18:59] zrachlin opened #124 "Modify createPlaylist method to use the new api route."
It seems like Spotify updated their api route for creating a new playlist for the current user.
**spotify-web-api.js route**:
 -> https://api.spotify.com/v1/me/playlists
**current developer console route** (https://developer.spotify.com/console/post-playlists/):
 -> https://api.spotify.com/v1/playlists
**beta web api reference route** (https://developer.spotify.com/documentation/web-api/reference-

[2019-02-02 08:04] #124 closed

[2019-02-02 13:49] zrachlin commented on #124
Thanks @JMPerez

[2019-03-29 01:04] greenkeeper[bot] opened #127 "An in-range update of sinon is breaking the build 🚨"
## The devDependency [sinon](https://github.com/sinonjs/sinon) was updated from `7.3.0` to `7.3.1`.

🚨 [View failing branch](https://github.com/JMPerez/spotify-web-api-js/compare/master...JMPerez:greenkeeper%2Fsinon-7.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a devDependency of this project. It **might

[2019-03-30 18:54] greenkeeper[bot] opened #128 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.3` to `5.16.0`.

🚨 [View failing branch](https://github.com/JMPerez/spotify-web-api-js/compare/master...JMPerez:greenkeeper%2Feslint-5.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It *

[2019-05-22 23:23] lynnpark opened #129 "Add optional parameter 'market' to getTrack and getTracks"
getTrack and getTracks have an optional parameter 'market'. This is needed in order to get a non-null value for the preview_url field.

[2019-05-22 23:45] lynnpark commented on #129
I can't tell if this is still maintained. Are PRs being accepted?

[2019-05-23 07:53] JMPerez commented on #129
@lynnpark Unfortunately I have very little time these days to get involved in this project. There is an open issue asking for new maintainers on https://github.com/JMPerez/spotify-web-api-js/issues/114

[2019-05-24 14:28] lynnpark commented on #114
@adamgrieger @csantiago132 are you guys still actively maintaining? I'd like to try to attack #129

[2019-05-24 15:26] csantiago132 commented on #114
@lynnpark id like to but havent heard from @JMPerez idk whats the best procedure or approach that he wants

[2019-05-26 23:44] adamgrieger commented on #114
I probably won't be maintaining this project anytime in the near future due to work, so it's all yours if you want to take it!

[2019-05-28 15:38] lynnpark commented on #114
Is @JMPerez the only owner? Are there anyone else with admin rights?

[2019-06-06 13:14] JMPerez commented on #114
@lynnpark I'm the only owner so far

@adamgrieger, @csantiago132 would you be interested in maintaining this project?

[2019-06-06 16:04] csantiago132 commented on #114
@JMPerez yes id love to!

[2019-07-08 01:29] bmitchinson commented on #121
Having a similar issue, maybe I'm missing something obvious?

[code]
results in
[code]

[2019-07-16 00:12] lynnpark commented on #114
@JMPerez I would love to too, if there is room for one more :)

[2019-07-18 01:50] bmitchinson commented on #121
I'm a loser, reminder that this library is for web, not [for node](https://github.com/thelinmichael/spotify-web-api-node).

Was able to get around that error above by messing around with the transpilled js, and removing `default` from the constructor call. Obviously that lead to the realization that I should have just read the readme 🥇

[2019-07-28 22:29] JoeVanGundy opened #134 "Support 'get-current-user's-profile' endpoint"
Hi there.

I need to get the username for a user in order to do things like creating a playlist.

Would it be possible to add support for this endpoint?
https://developer.spotify.com/documentation/web-api/reference/users-profile/get-current-users-profile/

Also, let me know if there is another way of getting the username!

[2019-07-28 23:09] JoeVanGundy commented on #134
Ah finally found the "getMe" option.
Was looking for "getCurrentUsersProfile".
Thanks!

[2019-07-28 23:09] #134 closed

[2019-08-20 18:25] neilime opened #135 "getUserPlaylists issue with undefined userId"
I need to retrieve the first 50 playlists of current user.

Typescript definition of function getUserPlaylists :
`getUserPlaylists(userId?: string, options?: Object,...` suggest to do :
`getUserPlaylists(undefined, {limit: 50});`

I does not work...

Actually the function `getUserPlaylists` does not work as expected according to the doc and typescript typing.

If the userId is not a string (undefi

[2019-08-30 02:16] csantiago132 commented on #128
closed on #137

[2019-08-30 02:16] #128 closed

[2019-08-30 02:16] csantiago132 commented on #127
closed on #136

[2019-08-30 02:16] #127 closed

[2019-09-30 04:59] mlam28 opened #138 "createPlaylist 401 error"
Hi,

When trying to create a playlist for a user, i keep getting a 401 error, 'no token provided', even though I have already set the access token using .setAccessToken.

I do not know what is wrong could you please assist? Here is my code;
<img width="497" alt="Screen Shot 2019-09-30 at 12 59 12 AM" src="https://user-images.githubusercontent.com/48364991/65850653-b9118280-e31d-11e9-8407-e8dc06f66

[2019-10-02 22:04] mlam28 opened #139 "search optional JSON object error 'limit'"
When trying to increase the limit of results received from the api, passing in an addition JSON object of {limit: 50} does not work, it still defaults to 20.

my code:
let options = JSON.stringify({limit: 50})
        spotifyApi.setAccessToken(token)
        spotifyApi.searchTracks(input, options)

Is there a way around this or am I missing something?

Thanks,
Michelle

[2019-10-03 19:20] kevinguebert commented on #138
Ah, this was close. I just tested it locally and ran into the same problems with your code.
I was able to make it work by removing the `JSON.stringify` call. My request now looks like this:
`spotifyApi.createPlaylist(spotifyId, {name: "New Playlist"}).then(resp => console.log(resp));`

Let me know if that doesn't work for you!

[2019-10-03 19:22] kevinguebert commented on #139
Looks like this may also be similar to #138 - there is not a need to `JSON.stringify`. It should just be `spotifyApi.searchTracks(input, {limit: 50})`

[2019-10-15 19:54] EricLambrecht commented on #135
I had the same issue! Since I don't use Typescript I was able to just use the first parameter as options, but my IDE is not happy of course. And for me it was very confusing figuring out why it didn't work initially.

[2019-11-22 20:17] novatorem opened #141 "Preview URL is always null, even for available markets"
Tried a number of IDs and keep getting `preview_url: null`.
When using the ID directly from the [API documentation](https://developer.spotify.com/documentation/web-api/reference/tracks/get-track/), it returns the preview URL.

I don't think it matters since it's just a wrapper, but I'm using the [node.js version](https://github.com/thelinmichael/spotify-web-api-node).

The function call:
[code]

T

[2019-11-22 20:57] greenkeeper[bot] opened #142 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.6.0` to `6.7.0`.

🚨 [View failing branch](https://github.com/JMPerez/spotify-web-api-js/compare/master...JMPerez:greenkeeper%2Feslint-6.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **mi

[2019-11-26 16:35] kevinguebert commented on #141
Hm @Omnitenebris something seems weird here. So I was just trying to run your code with the ID of `2cWBwpqMsDJC1ZUwz813lo` and that failed for me as that is an album ID and not a track id. Did the request of `spotifyApi.getTrack('2cWBwpqMsDJC1ZUwz813lo')` work for you fully? Or is there something missing from here?

When I did the request for the actual track ID of "'Till I Collapse" using the ID

[2019-11-26 17:46] Omnitenebris commented on #141
Sorry, that was my bad in writing the code in here. In my actual code I run it as `getSongInfo('4xkOaSrkexMciUUogZKVTS');` which returns the `preview_url` as null.

What did you run to get the output you placed above? Did you authenticate the user or just the client?

[2019-11-26 17:49] kevinguebert commented on #141
You're good - I figured as much. I ran as an authenticated user after using `spotifyApi.setAccessToken()`. Strange that those would return different results though...I wouldn't assume they would return the same thing?

[2019-11-26 17:52] Omnitenebris commented on #141
Then perhaps Spotify's API only allows you to preview a song if logged in, but I thought that wouldn't be the case since I've used webapps that had the preview.

[2019-11-26 17:58] kevinguebert commented on #141
Are you able to make the request without authenticating? I'm pretty sure it's required?

And you could definitely the client credentials flow for something like that! https://developer.spotify.com/documentation/general/guides/authorization-guide/#client-credentials-flow

If you are only requesting API endpoints that don't require user authentication, that should work! If you need something more ab

[2019-11-26 18:05] Omnitenebris commented on #141
I am authenticated using the client credential flow, specifically `clientCredentialsGrant` - but not the authorization code requiring the user.

I assumed preview_url wouldn't require a user, but I'm not able to access it with various track IDs so that's my assumption. Really, I just need that preview for my project. I'm thinking I'll get my authorization ID and refresh token saved to the database

[2019-11-26 18:09] kevinguebert commented on #141
I can check to see if the preview_url is returned - you are right I am not using that so I dont know if it is there.

Your way would definitely work with authorization ID and refresh token. I would just be wary of making your access token very public as if someone else grabs it, they would then modify your private account if the scopes allow it. Also, it does require it to be refreshed every 60 mi

[2019-11-26 18:13] kevinguebert commented on #141
Ohh looks like you did catch something. I did not receive back a preview_url from my client credentials but I did receive one from my user flow. That's strange but it looks like you may have to go with your refresh token solution

[2019-11-26 18:18] Omnitenebris commented on #141
Thank you for confirming!
Okay it'll be messy, but at least it's confirmed that it's not possible with just client credentials.

Do you have any open sourced code that shows a saved user authentication?

[2019-11-26 18:26] kevinguebert commented on #141
Yeah, that's super weird. I may dig into it more as I am trying to understand the use case for not providing it with client credentials. Maybe since it never refreshes or times out, someone could abuse that token and preview URL?

Nothing open-sourced right now, unfortunately. Depending on your project and if you need user authentication or not, there is a `passport.js` helper for Spotify that's p

[2019-11-26 18:31] greenkeeper[bot] opened #143 "An in-range update of coveralls is breaking the build 🚨"
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.8` to `3.0.9`.

🚨 [View failing branch](https://github.com/JMPerez/spotify-web-api-js/compare/master...JMPerez:greenkeeper%2Fcoveralls-3.0.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

coveralls is a devDependency of

[2019-11-26 18:57] Omnitenebris commented on #141
Thanks for all the help, I'm using `passports.js` for middleware authentication, but I'd rather avoid users requiring a spotify premium account. I'll put my info up on the server and take it down for the duration of my coursework, thanks again!

[2019-11-26 21:08] mzbrandl commented on #135
I faced the same issue. A workaround is adding `// @ts-ignore` before the function call.

[2019-12-23 00:39] emyann commented on #135
I had the same issue, and I dug a bit in the source. Here's what I found if it could help:

- When calling `getUserPlaylists(undefined, { limit: 20 })` with userId as undefined, the `options` get replace with `userId` and `options` are forwarded to callback https://github.com/JMPerez/spotify-web-api-js/blob/b0c0143c961c5ebed699a450471ad47820e64ed2/src/spotify-web-api.js#L676-L690
- Then `_checkPar

[2019-12-30 13:19] djansen1987 commented on #63
@kasperkamperman ever found the answer to that question ?

[2019-12-30 14:14] kasperkamperman commented on #63
I think you can do that indeed. I'm no security specialist. But with https
and other measures it wont harm I think.

On Mon, 30 Dec 2019, 10:20 Daniel, <notifications@github.com> wrote:

[2019-12-30 15:49] kasperkamperman commented on #63
If you want to do it secure, you could use a proxy. So run all the calls
over your own server, if the token is expired request a new one with the
refresh token you have stored server side. Im using the PHP spotify library.

https://github.com/jwilsson/spotify-web-api-php

On Mon, 30 Dec 2019, 10:20 Daniel, <notifications@github.com> wrote:

[2020-01-06 23:35] erin2722 opened #147 "Trouble with getting playlist/adding track to playlist"
I am trying to create a react web app that edits user playlists but keep running into a 404: invalid playlist ID error when using any of the functions that access playlists. Everything else (including getting a list of user playlists) is working fine. I also tested the playlist ID on Spotify's website and so I know that it is valid. I attached screenshots of my code and the error message. Thank yo

[2020-01-07 13:40] kevinguebert commented on #147
@erin2722 so it looks like there is an issue somewhere with the API endpoint that is being called. In the `POST` request it is sending it to `api.spotify.com/v1/users/{playlist_id}/playlists/{[tracks]}`...when it should instead be going to `POST https://api.spotify.com/v1/playlists/{playlist_id}/tracks`.  But, looking at the definition of [`addTracksToPlaylist`](https://github.com/JMPerez/spotify-

[2020-01-07 23:50] erin2722 commented on #147
Thank you for your reply! Adding a blank string as the first argument in my function call fixed it `spotifyWebAPI.addTracksToPlaylist('', '4u3BK21IWkEpcd8ydK7liu', songs)`

[2020-01-07 23:50] #147 closed

[2020-01-16 08:17] greenkeeper[bot] opened #148 "An in-range update of sinon is breaking the build 🚨"
## The devDependency [sinon](https://github.com/sinonjs/sinon) was updated from `8.0.4` to `8.1.0`.

🚨 [View failing branch](https://github.com/JMPerez/spotify-web-api-js/compare/master...JMPerez:greenkeeper%2Fsinon-8.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a devDependency of this project. It **might

[2020-02-07 13:00] Jabokoe opened #149 "Breaking TypeScript default export change undocumented"
The 1.1.0 to 1.1.1 update was actually a breaking change for TypeScript users. (For JS consumers it could make sense for it to be a minor or patch.) The change to using default export typings is a welcome one but of course breaks existing import statements.

The usage for TypeScript for use with Webpack could be updated in README
[code]
While this may be obvious to seasoned TS users working with d

[2020-03-03 02:06] donifer opened #151 "Missing add to queue"
Missing method:

https://developer.spotify.com/documentation/web-api/reference/player/add-to-queue/

[2020-03-30 09:40] DanielFroehlich commented on #114
Hey, I am wondering what is the state of this case and project. Is it still being maintained?
I am seeing a lot of good PRs also on the original repo (https://github.com/thelinmichael/spotify-web-api-node).

[2020-04-18 17:56] #148 closed

[2020-04-18 17:56] #143 closed

[2020-04-18 17:56] #142 closed

[2020-04-18 18:00] JMPerez commented on #141
Thanks @novatorem and @kevinguebert. As far as I understand, the issue is not related with this library so I'll close it for now. If you think this is an issue on Spotify's side, you can file an issue on https://github.com/spotify/web-api/issues.

Note that preview urls might be only returned for specific whitelisted access tokens, and for content for certain labels. From [the documentation](https

[2020-04-18 18:00] #141 closed

[2020-04-18 18:03] JMPerez commented on #138
Closing this issue. The `createPlaylist` function expects a JSON object as `options`, so removing `JSON.stringify()` should make it work. Thanks @kevinguebert for supporting.

[2020-04-18 18:03] #138 closed

[2020-04-18 18:04] JMPerez commented on #129
Closing the issue. `market` can be passed in the `options` parameter got both `getTrack()` and `getTracks()`.

[2020-04-18 18:04] #129 closed

[2020-04-18 18:05] JMPerez commented on #139
Closing this issue. The `searchTracks` function expects a JSON object as `options`, so removing `JSON.stringify()` should make it work. Thanks @kevinguebert for supporting.

[2020-04-18 18:05] #139 closed

[2020-04-19 00:28] adamgrieger commented on #114
If anyone wants to follow my progress, I've been working on an isomorphic wrapper written in TypeScript. Hopefully when it's done, it can serve as an alternative to both `spotify-web-api-js` and `spotify-web-api-node`.

https://github.com/adamgrieger/spotify-web-api-ts

[2020-04-19 06:42] #135 closed

[2020-04-23 11:47] LuisAlvarez98 opened #159 "addTracksToPlaylist needs an extra parameter"
Hello this is my first time posting an issue on github. I don't know if here is the place to report something like this but I had an issue with the API call addTracksToPlaylists. I was trying to using it with the params:
playlistId and uri's list as it was told in the documentation
and the API wrapper builded this url: https://api.spotify.com/v1/users/[**playlistId**]/playlists/spotify:track:5cB9B

[2020-05-01 06:28] JMPerez commented on #159
Thanks @LuisAlvarez98 for reporting it.
You are right. The user id was dropped some time ago so it's no longer necessary to send it since the playlist id is unique across all users. Spotify updated the endpoints path to accept requests for playlists without specifying the user id (see https://developer.spotify.com/documentation/web-api/reference/playlists/add-tracks-to-playlist/ for the documentat

[2020-05-01 06:31] JMPerez opened #162 "Missing support "Get a Playlist Cover Image" endpoint"
**Describe the solution you'd like**
Fetch [Get a Playlist Cover Image ](https://developer.spotify.com/documentation/web-api/reference/playlists/get-playlist-cover/) endpoint

**Describe alternatives you've considered**
It should be possible to fetch the image fetching all the playlist. Still, for consistency it's good to have full coverage of Spotify's web api endpoints.

[2020-05-01 15:12] #162 closed

[2020-05-04 07:05] JMPerez opened #165 "Spotify Web API Typings - Import them / Sync them"
**Is your feature request related to a problem? Please describe.**
This repo contains a copy of the typings for the Spotify's Web API endpoints. It quickly gets out of date (eg I made some changes in this repo but didn't synchronize them with the typings on DefinitelyTyped. Wherever they are, these typings also need to be tested.

**Describe the solution you'd like**
- Move the typings away from t

[2020-05-08 02:06] BenGu3 opened #166 "Typescript definition for constructor requires .default() call"
**Describe the bug**
According to the README, when using Typescript with this library, the import and constructor for the library is as follows:

[code]

It looks like the type definitions say the constructor is the default export, so when you import as above, you actually use the constructor like this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/heuristic-d

[2020-05-08 02:43] BenGu3 commented on #114
Just wanted to start a conversation here about a few of these packages mentioned here. I've been hoping to spend some time helping out because I'm using this package in a project. I just want to understand the future of these packages.

As far as `spotify-web-api-js` goes and my understanding, it looks like it may be nice to Typescript-ify this package. That would help with keeping the types and i

[2020-05-11 05:36] JMPerez commented on #114
@BenGu3 Happy to typescript-ify this project, that would help with maintenance. It's painful adding new endpoints due to having to modify many files when one would expect changing the lib + test.

If you can explore this approach, I'd be glad to review the changes and make a decision. The overhead for the library output will be minimal. Once the JS is generated it shouldn't be that large compared

[2020-05-18 13:09] greenkeeper[bot] opened #167 "An in-range update of lint-staged is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `10.2.2` to `10.2.3`.

🚨 [View failing branch](https://github.com/JMPerez/spotify-web-api

[2020-05-26 23:10] suryapolina99 opened #170 "Question about searchTracks() function"
I dont understand how to have the searchTracks() function filter by languages. It currently returns some spanish songs but I only want english

[code]

[2020-06-02 16:53] arifjamal070 opened #171 "Require Help!"
I am just trying to the tutorial code that create the Elvis data, and I keep getting "Uncaught ReferenceError: require is not defined" for the require part of code, any advice on how to fix this?

[2020-06-02 17:48] JMPerez commented on #171
@arifjamal070 you are probably trying to run the code on a browser. For this you need browserify (or an equivalent bundler like parcel or webpack).

If you plan to run this on a browser quickly just take the contents of `src/spotify-web-api.js`.

[2020-06-02 17:49] #171 closed

[2020-06-03 15:52] arifjamal070 commented on #171
Great that helped, but now I am getting "Uncaught ReferenceError: SpotifyWebApi is not defined" in my console. i ran through the browserify tutorial and added my bundle as a scirpt tag in my html file.

"var spotifyApi = new SpotifyWebApi();" This is the line that is giving me an error

[2020-06-03 16:39] omarryhan commented on #165
Do you mean these typings? https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/spotify-api/

[2020-06-03 16:42] omarryhan opened #172 "Is there a specific reason why typings aren't exported?"

[2020-06-03 17:18] #172 closed

[2020-06-04 10:44] omarryhan commented on #18
I made this Typescript auto pagination helper. Unfortunately it doesn't run in parallel, but I hope some would find it useful:

[code]

To call it:

[code]

[2020-06-05 03:09] patrick-motard commented on #114
How does this repo relate to https://github.com/thelinmichael/spotify-web-api-node ? When I initially searched for a spotify sdk in nodejs on NPM, that was the version i found.

It looks like this repo is what is actually keeping https://www.npmjs.com/package/spotify-web-api-node up to date. But the links to source code on that page link to https://github.com/thelinmichael/spotify-web-api-node. Ma

[2020-06-05 03:30] patrick-motard commented on #114
Ah... I think I see what is going on now. Not sure how I missed this before.
These are two separate projects.
- [spotify-web-api-node](https://www.npmjs.com/package/spotify-web-api-node) created by [thelinmichael](https://github.com/thelinmichael) and maintained by him and [JMPerez](https://github.com/JMPerez) intended to be used in Node. Claims it's also designed to work in the browser. Hasn't be

[2020-06-05 13:31] glowkeeper opened #173 "Play help?"
Hi,

How do you actually _play_ a track, once you've returned something from `searchTracks`? I'm currently trying something like this:

[code]
But I get `TypeError: cannot use 'in' operator to search for "device_id" in "spotify:track:5t..."` Yada yada yada. I've tried a few things - apologies if I'm being a bit of a dullard and missing something obvious - I can usually figure this stuff out!

Anyw

[2020-06-05 13:46] glowkeeper commented on #173
Ooo - I'm getting closer:

[code]

getting a `400, malformed json` error now, but it's an improvement!

[2020-06-05 13:49] glowkeeper commented on #173
Aha, and this is even closer:

[code]

Now it's complaining about no active device...

[2020-06-05 16:00] glowkeeper commented on #173
Okay - I got it working, but I don't know how practical it all is. Basically, I used the [console](https://developer.spotify.com/console/) to get me a `player` token with all the permissions set. That meant I could do this:

[code]

[2020-06-14 15:23] #170 closed

[2020-06-14 18:01] suryapolina99 opened #174 "QUESTION: Where to handle expired tokens"
Where do we handle expired access tokens so we can replace it with the refresh token or redirect user to login page. Expired token errors point to line 123
           `req.send(null);`
and I want to redirect user to login page here but it ends up going to login page every-time if I redirect it after this line

[2020-06-16 06:28] this-username-is-taken opened #175 "Error "Payload is set but no content-type header specified" when calling play()"
**Describe the bug**

I'm seeing an issue where when I call `play()` without any parameters, I get an exception with the error message "Payload is set but no content-type header specified".

**To Reproduce**
This reproduces every time I call `play()`. I am using React Native and reproducing this on an Android phone. Interestingly, I'm only seeing this for `play()` but not `pause()`. I also have an

[2020-06-16 07:22] this-username-is-taken commented on #175
Seems like a better fix is to add `contentType: 'application/json'` to `requestData`.

[2020-06-21 20:52] suryapolina99 opened #176 "GetUserPlaylists Issue"
GetUserPlaylists function returns playlists that aren't owned by the user as well as the ones owned by them. There should be a way to filter the playlists not owned by the user out

[2020-07-29 20:26] adrianhak commented on #176
Correct me if I'm wrong but I don't think that's possible (at least not through the web api).
The endpoint only has two query parameters, limit & offset.

https://developer.spotify.com/documentation/web-api/reference/playlists/get-list-users-playlists/

[2020-08-03 04:49] JMPerez commented on #151
This has now been implemented

[2020-08-03 04:49] #151 closed

[2020-08-03 04:49] #167 closed

[2020-08-03 14:44] JMPerez commented on #176
@suryapolina99 The endpoint returns the "list of the playlists owned or followed by a Spotify user." That means it's totally possible to fetch playlists not owned by that user, but followed.

This library applies the same logic and doesn't add any extra processing of the results. If you would like to filter out those playlists not owned by the owner, you can check the `owner` field and leave those

[2020-08-03 14:44] #176 closed

[2020-08-03 14:58] JMPerez commented on #175
I think we could add a check on `_performRequest()` that adds `contentType: 'application/json'` if the type of `params` is `object` and is not null. That's more elegant than adding the contentType to a few functions.

@this-username-is-taken I'll prepare a change, and maybe you can try it out.

[2020-08-03 19:04] JMPerez commented on #173
Closing since this is not an issue that needs to be addressed in this library/wrapper.

[2020-08-03 19:04] #173 closed

[2020-08-03 19:04] JMPerez commented on #165
@omarryhan exactly!

[2020-08-03 19:29] JMPerez commented on #166
I suspect it might be related with https://github.com/JMPerez/spotify-web-api-js/pull/112/commits/0da981151937e7474fc8461ec60a364107c91f2d.

I'm changing the README to use `import SpotifyWebApi from 'spotify-web-api-js'` instead. Thus how projects out there using typescript are doing it.

[2020-08-03 19:31] #166 closed

[2020-08-03 19:33] JMPerez commented on #149
Fixed changing the README on https://github.com/JMPerez/spotify-web-api-js/commit/1487329717fc12665bd9b983b71040609bdb4069. Should have caught this one and ship a major update due to the breaking change.

The amendment in README will prevent other users from hitting this issue.

[2020-08-03 19:33] #149 closed

[2020-08-03 19:34] JMPerez commented on #166
Duplicated of #149

[2020-08-03 19:35] JMPerez commented on #121
Closed with commit https://github.com/JMPerez/spotify-web-api-js/commit/1487329717fc12665bd9b983b71040609bdb4069

[2020-08-03 19:35] #121 closed

[2020-08-03 19:39] JMPerez commented on #174
@suryapolina99 When the user's access token expires, the following requests will fail. When they do you get the request in the callback function, and can check its `status` property. If it's 401, then the user is not authorized to access that resource or make that request.

Assuming the user did have access before, getting a 401 means their token expired.

[2020-08-03 19:39] #174 closed

[2020-08-04 23:36] this-username-is-taken commented on #175
Thanks @JMPerez , I can confirm that this is now fixed!

[2020-08-05 05:16] JMPerez commented on #175
@this-username-is-taken awesome!

[2020-08-05 05:16] #175 closed

[2020-08-16 02:06] laurence-myers opened #181 "TypeScript: `getUserPlaylists()` ignores `options` when `userId` is `undefined`"
In TypeScript, when calling `getUserPlaylists()`, the options object is ignored when `userId` is passed as undefined.

[code]

This is because the method `getUserPlaylists()` has dynamic behaviour, re-assigning its arguments if the first argument is not a string. The current types for `getUserPlaylists()` don't reflect this beahviour.

Code in question:
[code]

Types:
[code]

## Possible fix

You

[2020-08-26 21:08] ColdtQ opened #182 "How do i get my access token?"

[2020-08-28 03:16] eduardoRubioG opened #183 "Options not working for `getPlaylistTracks`"
**Describe the bug**
Adding an options object to the function `getPlaylistTracks` seems to have no effect.

**To Reproduce**
[code]

Will correctly console log the playlist information but with the tracks item coming back with the default limit of 100 and offset of 0.

**Expected behavior**
I would expect that the API returns the track object with the limit and offset set to what is passed in thro

[2020-09-06 14:33] JMPerez commented on #182
In order to get an access token you need to create an app and implement one of the authentication flows supported by Spotify's API. I would recommend you to check out https://developer.spotify.com/documentation/general/guides/authorization-guide/.

[2020-09-06 14:33] #182 closed

[2020-09-15 02:37] vmiheer opened #184 "Typescript example"
Hi, am following readme instructions and I am getting error:

[code]

[code]

Am I missing something obvious?

[2020-09-28 17:14] mystermiam opened #185 "Get to know when playback is starting"
Hello there!

The problem I'm trying to solve is :

"Using the Spotify web API /player endpoint, offering a usable progress-bar through a custom Spotify player".

I've understood that there is no way to get any realtime player updates from posted issues on the Spotify repository.

However, I'd like to know: **Would be possible for one to know when the playback is starting ?** I mean by that, when

[2020-10-08 23:02] GabrielBG0 opened #186 "Invalid Access token"
Im getting an 401 invalid token when i'm trying to get a top artists.

this is my code, i'm not sure if thats the best way to do it tho:
get authorization:
![image](https://user-images.githubusercontent.com/15240358/95521729-a144f380-09a0-11eb-8cc4-52091151593c.png)

get code:
![image](https://user-images.githubusercontent.com/15240358/95521759-b6ba1d80-09a0-11eb-869a-2ff428dd5ae5.png)

get the to

[2020-10-12 23:17] #186 closed

[2020-10-15 09:15] ghitafilali opened #187 "ERROR (node:7) [DEP0005] DeprecationWarning: Buffer() when using clientCredentialsGrant"
I am trying to query the spotifyAPI from an AWS Lambda function and I get an error that prevents me from doing so because of the use of Buffer() in the function clientCredentialsGrant:
`ERROR	(node:7) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.`

This is the code th

[2020-10-15 09:17] #187 closed

[2020-10-15 09:18] ghitafilali commented on #187
This is an issue that I had with the node spotify web api not with this library

[2020-11-02 09:44] quentin-sommer commented on #175
Hi,
I don't think the version including this fix (1.5.1) is released: [npm](https://www.npmjs.com/package/spotify-web-api-js)
@JMPerez could you release it? I'm having the same issue on react-native

[2020-11-02 11:15] JMPerez commented on #175
Hi @quentin-sommer, you're right! I have just published 1.5.1

[2020-11-02 11:36] quentin-sommer commented on #175
Thanks a lot

[2020-11-14 21:30] ryqndev opened #188 "Documentation site down"
**Describe the bug**
Documentation site is down

**To Reproduce**
Steps to reproduce the behavior:
1. open [https://doxdox.org/jmperez/spotify-web-api-js](https://doxdox.org/jmperez/spotify-web-api-js)
2. See error

**Screenshots**
![Screen Shot 2020-11-14 at 1 30 04 PM](https://user-images.githubusercontent.com/8120855/99157424-8a6b7e00-267d-11eb-9cfc-1e1a6e85c3fd.png)

**Desktop (please complete

[2020-12-08 16:48] TomasCarlson commented on #188
For temporary use, I archived the Google Cache if anyone needs the documentation in the meantime:

https://web.archive.org/web/20201208164648/http://webcache.googleusercontent.com/search?q=cache%3Ahttps%3A%2F%2Fdoxdox.org%2Fjmperez%2Fspotify-web-api-js

[2020-12-08 20:21] JMPerez commented on #188
Thank you @ryqndev and @TomasCarlson. Not sure what happened with doxdox but it looks like the service is down.

I'll try to bring up some GH Pages to host the docs. The content for the docs still leaves in the code. Since I'm using JSDoc it's easy to see in the code the comments explaining what each function does.

It's not the best experience but at least it's something while I fixed the pubic d

[2020-12-09 10:25] JMPerez commented on #188
This should be fixed now. Docs are deployed on https://jmperezperez.com/spotify-web-api-js/

[2020-12-09 10:25] #188 closed

[2020-12-11 20:22] JMPerez commented on #185
Thanks @mystermiam for the suggestion. This is not possible at the moment since that functionality is not provided by Spotify's API, so you are left with checking the playback state every few seconds.

This is for instance what I do in https://github.com/JMPerez/spotify-player (see https://github.com/JMPerez/spotify-player/blob/master/public/spotify-player.js#L73) used on [these "now playing" visu

[2020-12-11 20:22] #185 closed

[2020-12-11 20:30] JMPerez commented on #184
Hi @vmiheer. Could you share an example of your project, maybe using codesandbox?

I just tried the code on https://codesandbox.io/s/amazing-cherry-31eom?file=/src/index.js and it seems to be working.

[2020-12-11 20:32] JMPerez commented on #183
Hi @eduardoRubioG! The signature for the function changed to only receive the playlist id, as Spotify drop the `user_id` bit from the request. Could you try again and reopen the issue if it's still failing?

[2020-12-11 20:32] #183 closed

[2020-12-11 20:33] JMPerez commented on #108
Nice! officially removing Bower.

[2020-12-11 20:33] #108 closed

[2020-12-20 02:13] half2me opened #190 "Typings for spotify-api"
This is probably just me not knowing typescript enough, but I've been trying now for hours unsuccessfully.

I want to type a variable to `SpotifyApi.TrackObjectFull[]`

Basically after calling `this.spotify.getTracks(...)`, I'm assigning the result to a variable, and I need to type it. In my IDE, I can see the return type of the function is a `Promise<SpotifyApi.MultipleTracksResponse>` inside of

[2020-12-26 02:49] Peter-Lavigne opened #192 "The documentation links are not working"
**Describe the bug**
The documentation site is not working.

**To Reproduce**
Visit https://doxdox.org/jmperez/spotify-web-api-js

**Screenshots**
![image](https://user-images.githubusercontent.com/31020403/103144641-059f6580-46fb-11eb-8e0a-3d9cfceef114.png)

[2020-12-26 02:58] Peter-Lavigne commented on #192
Forgot to check the closed issues. This is a duplicate of https://github.com/JMPerez/spotify-web-api-js/issues/188

[2020-12-26 02:58] #192 closed

[2021-01-16 04:36] johnvirp opened #194 "ReferenceError: SpotifyWebApi is not defined"
**Describe the bug**
ReferenceError: SpotifyWebApi is not defined

**To Reproduce**
Steps to reproduce the behavior:
1. Run code

**Expected behavior**
I just want it to be accessed

[2021-01-25 20:58] simon3773 commented on #194
A familiar problem. Haven't found a solution yet?

[2021-01-26 08:29] JMPerez commented on #194
@johnvirp Thanks for reporting it! It would be extremely useful if you could provide a code snippet and information about what environment you are running it on. Otherwise it’s impossible to troubleshoot.

[2021-01-26 12:02] simon3773 commented on #194
@johnvirp, Sorry if I'm interrupting the conversation, but I have exactly the same problem. I'm creating a bot that will search for songs on Spotify and send the result a link to the song. I create this on Dialogflow, in the Fulfillment Inline Editor.
Here is my code:

[code]
I did not continue to write the code where the search will be performed, because this line does not work

[2021-01-26 14:10] meran0 commented on #194
Hi, sorry for interrupting. i'm facing the same problem too. i'm currently working on WebApp that will get few user tracks on spotify and find a snippet of lyrics of that song. i installed it via node , and also using browserify to merge the nodes into a single .js file.

[2021-01-26 14:43] johnvirp commented on #194
Sorry I ended up using this wrapper instead https://github.com/thelinmichael/spotify-web-api-node. I am using this for a project that is due very soon for a class so I didn't have the time to troubleshoot it.

[2021-03-12 09:27] christinna9031 opened #195 "Possible memory leak"
I call getMyCurrentPlaybackState() every second to detect whenever user changes the track. I tried using both setInterval and setTimeout (with clearTimeout as well), but it seems to be leaking memory and crashes the whole page after 5-6h of running nonstop in a browser. Memory consumption just goes up indefinitely until it crashes. Any idea how to fix that?

[2021-03-24 09:20] shaunwhyte opened #196 "Spotify player object giving me a non existent player id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

spotify-web-api-js
      this.player = new (window as any).Spotify.Player({
        name: 'SpotiPod',
        getOAuthToken: cb => { cb(this.spotifyAuth.getToken()); }
        ,
        volume: 1
      });

Once this connects and i get the player id using this

player._options.id

I get a different Id to if

[2021-03-25 03:16] JMPerez commented on #196
@shaunwhyte the Spotify.Player object is not part of this library. The library only fetches information through the API and the is returned by the Player is out of scope.

You might want to fetch the list of devices through the API to control the playback using the device id.

[2021-03-25 07:11] shaunwhyte commented on #196
i thought about fetching the device id but i use Spotify.Player.seek as well...

[2021-03-25 07:16] #196 closed

[2021-03-25 07:20] shaunwhyte commented on #196
this one was on me, i had an old spotify js sdk

[2021-05-13 07:42] Kumar2106 opened #198 "Length of playlist returned by getUserPlaylists() is 0."
**Describe the bug**
I am coding clone of spotify app. I am using this spotify-web-api-js. In my code where i am trying to fetch user playlist it is returning me items of length 0. i will  be attaching the code and the screenshot of the inspector tool.

**To Reproduce**
Steps to reproduce the behavior:
1. const spotify = new SpotifyWebApi();
2. spotify.setAccessToken(_token);
3. spotify.getUserPla

[2021-05-20 23:35] lucasbeatdapp opened #199 "getGeneric() producing an error: JSON Parse error: Unrecognized token '<'"
**Describe the bug**
I'm wanting to use the `getGeneric()` api call to be able to past a spotify url into an input with React native in order to get the content from that url but I receive an error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run code '...'

searchTerm will be something like this [TaylorSwift](https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02?si=M2hGzHXQTduUX

[2021-06-28 19:43] snigle commented on #190
Hello, I had the same issue and I found typescript lib :
https://github.com/adamgrieger/spotify-web-api-ts

[2021-09-05 15:23] AndreiMihaiSurueanu commented on #198
Any updates for this issue ?

[2021-09-29 08:40] osnodegeoffrey commented on #181
+1 to get this fixed

[2021-10-10 19:09] manan2501 opened #204 "Update type of ListOfUsersShowsResponse"
**Describe the bug**
Current type of ListOfUsersShowsResponse is extended from PagingObject<ShowObjectSimplified>
but we have two things inside the item, added_at, and show. The show is of type ShowObjectSimplifies.
So I am unable to extract the value of "name".

**To Reproduce**
Try to extract the name(or any other value) of the show from the response.

**Expected behavior**
Type of item should b

[2021-10-10 19:13] manan2501 commented on #204
I am working towards the solution, but feeling sleepy🥱 so I will probably continue tomorrow.
ShowObjectSimplified is also used in the type of showSearchRespomse. So, I will see if we can directly change the type of  ShowObjectSimplified or not.

And I will make a PR if I am able to solve this issue.

Anyways Good Night🌃.

[2021-10-13 10:45] #194 closed

[2021-10-13 10:47] #199 closed

[2021-11-01 14:29] mhatvan opened #208 "Support POSTing whole albums instead of just single tracks with `.addTracksToPlaylist()`"
**Is your feature request related to a problem? Please describe.**

I am looking for the functionality to add whole artist albums to a playlist, but it seems it is only possible to add tracks for what ever reason. It's many more requests this way to the API, and I would rather keep the amount of requests small.

This is probably not possible since it is not documented in: https://developer.spotify

[2021-11-16 20:15] davidseek commented on #184
I'm having the same problem in a Firebase Functions project.
Literally same logic as in the shared codesandbox, and yet I as well get:

[code]

[2021-11-16 20:45] davidseek commented on #184
[NVM](https://github.com/thelinmichael/spotify-web-api-node)

I'm sure the other dude was using this lib for Node as well.
Might be a good idea to put a disclaimer up and linking to the Node version?

[2022-01-07 18:53] STARSCrazy opened #209 "When combining multiple filters for a search (searchTracks) with a "+", this must not be encoded."
**Describe the bug**
If you combine multiple filters in a search (searchTracks), the "+" is also encoded, although this is not supposed to be so according to the documentation: https://developer.spotify.com/documentation/web-api/reference/#/operations/search

**To Reproduce**
`spotify.searchTracks("track:Lithium+artist:Nirvana+album:Nevermind");`
How the request url actually looks like: search/?q=

[2022-08-20 22:39] parsasaeedi opened #216 "Making Multiple Instances of the Wrapper"
I'm creating an app where I need 2 instances of the wrapper, one for each user/access-token. But when I make 2 instances, it seems like they are both the same instance.

[code]

prints:

[code]

Where I expected it to print:

[code]

The access token in both instances is set to the latest set statement.

Same thing even if I write:
[code]

I don't know if this is a problem with the wrapper, or my

[2022-08-21 00:22] parsasaeedi commented on #216
https://stackoverflow.com/questions/73430871/making-multiple-instances-of-spotify-web-api-js

[2022-08-21 06:15] JMPerez commented on #216
@parsasaeedi Yes, this looks definitely like a problem as your use case should be supported. This is a bug that should be addressed.

[2022-09-13 13:25] denizsult opened #218 "Is there a function for take User's liked songs?"
I need a user's liked songs but cannot see any function for that.  Is there a function for this problem that I am not seeing?

If there is no function for this situation. I can help you with that.

[2022-09-13 21:00] JMPerez commented on #218
You can use getMySavedTracks() for that.

On Tue 13 Sep 2022 at 15:26, Deniz Sultanoğlu ***@***.***>
wrote:

[2022-09-14 06:50] #218 closed